# Data Science Tools and Ecosystems

This notebook will describe Data Science tools and Ecosystems

Some of the more popular languages are 
1. Python
2. Java
3. C++

Some of the more commonly used libraries include
1. numpy
2. ggplot
3. Pandas

| Data Science Tools |
| ------------------ |
| Tensor Flow |
| ggplot |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:** 
- Python
- Markdown
- Rstudio
- ggplot
- Github

## Author
James Todd